@charset "UTF-8";

$pink: #ff008e;
$yellow: #FFCD1E;
$orange: #FF7A29;
$black900: #09090a;
$black800: #121214;
$black700: #202024;
$gray700: #29292e;
$gray400: #8d8d99;
$gray300: #c4c4cc;
$gray200: #e1e1e6;
$white: #ffffff;
$overlay: rgba(0,0,0,0.48);