$GREEN: #1B873F;
$PINK: #FF008E;
$ORANGE: #FF7A29;
$YELLOW: #FFCD1E;
$WHITE: #FFFFFF;

$GRADIENT: linear-gradient(135deg, $PINK 40%, $ORANGE 60%, $YELLOW 92%);

$GRAY100: #E1E1E6;
$GRAY200: #C4C4CC;
$GRAY300: #8D8D99;
$GRAY400: #29292E;

$BLACK: #09090A;
$BLACK-ALT: #121214;
$BLACK-ALT-REVERSE: #202024;

